h1{
  text-align: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  margin:10px;
  text-shadow: 0px 0px 15px aqua;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background: rgba(0, 119, 255, 0.5);
box-shadow: 0px 10px 15px #094d6d;
}

.table{
margin: 20px;
background: rgba(0, 0, 0, 0.5);
color: white;
font-family: fantasy;

}
.table thead th{
background: linear-gradient(#969595b2,#000000b2);
color: rgb(47, 248, 255);
text-shadow: 0px 0px 15px aqua;
border-left: 2px ridge rgb(255, 255, 255);
border-right: 2px ridge rgb(255, 255, 255);
}
.table tr:hover{
  cursor: pointer;
}
.table img {
  width: 10%;
    max-width: 100px;
    min-width: 70px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 35px aqua;
}
