<div class="container">
  <h1> Pokedex </h1>
  <div class="table-responsive-md">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope = "col">#</th>
        <th scope = "col">Img</th>
        <th scope = "col">Pokemon</th>

      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of pokemones">
          
              <td scope="col">{{pokemon.national_id}}</td>
            <td> <img class="img-responsive"	src="{{pokemon.art_url}}" alt=""></td>
            <td><button routerLink="./detalles">{{pokemon.name}}</button></td>
          </tr>

    </tbody>
  </table>
  </div>
</div>
