<div class="container">
  <div class="row">
    <h2>{{pokemon.name}}</h2>
  </div>

  <div class="row">

      <div class="col-sm">
      <h2> Imagen</h2>
      <img class="img-responsive"	src="{{pokemon.art_url}}" alt="">
      </div>

      <div class="col-sm-7">
        <h2> Descripcion</h2>
        {{pokemon.description}};
      </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <h2>Tipos</h2>

            </div>


            <div *ngIf="evol; then thenBlock; else elseBlock" class="col-sm-7"></div>
              <ng-template #thenBlock>
                <h2> Evolucion</h2>
                  <ul *ngFor="let evolucion of evoluciones">
                    <li>
                        <a *ngFor="let pokemones of pokemones">
                          <div *ngIf="evolucion.to==pokemones.name">
                              <img class="img-responsive"	src="{{pokemones.art_url}}" alt="">
                        {{evolucion.to}}
                        {{evolucion.method}}
                        {{evolucion.level}}
                      </div>
                    </a>
                    </li>
                  </ul>
              </ng-template>
              <ng-template #elseBlock>
                  <h2> Evolucion</h2>
                  <a>no tienen evolucion</a>
              </ng-template>
                
              

      </div>
  </div>

